<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php">
    <testsuites>
        <testsuite name="Chrome">
            <file>tests/browsers/ChromeTest.php</file>
        </testsuite>
        <testsuite name="Firefox">
            <file>tests/browsers/FirefoxTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
